<div style="margin-top: 120px;" class="wrapper">
  <!--Atalaya-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7401" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Acedera-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7413" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Aceuchal-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7412" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Agua del Pilar-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=12060" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Ahillones-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7411" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Alange-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7410" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Alburquerque-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7408" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Alcobaza-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=12032" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Alconchel-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7407" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Alconera-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7406" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Aljucén-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7405" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Almansa-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=11997" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Almendral-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7404" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Almendralejo-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7403" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Almonchón-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=11985" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Ardila-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=11965" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Badajoz-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7414" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--Calamonte-->
  <iframe src="https://www.tutiempo.net/s-widget/app/?LocId=7390" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:411px;" allowtransparency="true"></iframe>

  <!--<table>
    <thead>
      <th *ngFor="let detalle of scrappingData?.dato?.headers">{{detalle.header}}</th>
    </thead>
    <thead>
      <th *ngFor="let detalle of fechasTable">{{detalle.texto}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of scrappingData?.dato?.headers">
        {{detalle.header}}
        <td *ngFor="let fila of scrappingData?.dato?.valoresColumna">{{fila.texto}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <ul>
      <span><h2>Valores Otros:</h2></span>
      <li *ngFor="let dato of scrappingData?.dato?.valoresOtros" style="margin-left: 35px">
          {{dato.header}}
      </li>
      <br>
    </ul>

    <ul>
      <span><h2>Headers:</h2></span>
      <li *ngFor="let dato of scrappingData?.dato?.headers" style="margin-left: 35px">
          {{dato.header}}
      </li>
      <br>
    </ul>

    <ul>
      <span><h2>Fila 1:</h2></span>
      <li *ngFor="let dato of scrappingData?.dato?.valoresColumna" style="margin-left: 35px">
          {{dato.texto}}
      </li>
      <br>
    </ul>

    <ul>
      <span><h2>Textos:</h2></span>
      <li *ngFor="let dato of scrappingData?.textos" style="margin-left: 35px">
          {{dato.texto}}
      </li>
      <br>
    </ul>
  </div>-->
</div>
