
<div class="wrapper">

  <mat-form-field appearance="fill" style="margin-top: 120px; width:85%">
    <mat-label>Elije un pueblo</mat-label>
    <mat-select [(value)]="selectedValue">
      <mat-option value="option1" (click)="onOpenIFrameZarzaMayor()">Zarza la mayor</mat-option>
      <mat-option value="option2" (click)="onOpenIFramePiedrasAlbas()">Piedras albas</mat-option>
      <mat-option value="option3" (click)="onOpenIFrameAlcantara()">Alcántara</mat-option>
      <mat-option value="option4" (click)="onOpenIFrameBrozas()">Brozas</mat-option>
      <mat-option value="option5" (click)="onOpenIFrameHerreruela()">Herreruela</mat-option>
      <mat-option value="option6" (click)="onOpenIFrameSalorino()">Salorino</mat-option>
      <mat-option value="option7" (click)="onOpenIFrameMembrio()">Membrio</mat-option>
      <mat-option value="option8" (click)="onOpenIFrameValenciaAlcantara()">Valencia de Alcántara</mat-option>
      <mat-option value="option9" (click)="onOpenIFrameSantiagoAlcantara()">Santiago de Alcántara</mat-option>
      <mat-option value="option10" (click)="onOpenIFrameHerreraAlcantara()">Herrera de Alcántara</mat-option>
      <mat-option value="option11" (click)="onOpenIFrameCedillo()">Cedillo</mat-option>

    </mat-select>
  </mat-form-field>
  </div>

  <div class="wrapper">

  <!--Zarza la mayor-->
  <iframe
    *ngIf="displayIframeZarzaMayor"
    [src]="zarzaMayorIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Piedras albas-->
  <iframe
    *ngIf="displayIframePiedrasAlbas"
    [src]="piedrasAlbasIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Alcántara-->
  <iframe
    *ngIf="displayIframeAlcantara"
    [src]="alcantaraIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Brozas-->
  <iframe
    *ngIf="displayIframeBrozas"
    [src]="brozasIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Herreruela-->
  <iframe
    *ngIf="displayIframeHerreruela"
    [src]="herreruelaIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Salorino-->
  <iframe
    *ngIf="displayIframeSalorino"
    [src]="salorinoIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Membrio-->
  <iframe
    *ngIf="displayIframeMembrio"
    [src]="membrioIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Valencia de Alcántara-->
  <iframe
    *ngIf="displayIframeValenciaAlcantara"
    [src]="valenciaAlcantaraIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Santiago de Alcántara-->
  <iframe
    *ngIf="displayIframeSantiagoAlcantara"
    [src]="santiagoAlcantaraIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Carbajo-->
  <iframe
    *ngIf="displayIframeCarbajo"
    [src]="carbajoIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Herrera de Alcántara-->
  <iframe
    *ngIf="displayIframeHerreraAlcantara"
    [src]="herreraAlcantaraIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--Cedillo-->
  <iframe
    *ngIf="displayIframeCedillo"
    [src]="cedilloIframeUrl"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:85%; height:500px;"
    allowTransparency="true"
  ></iframe>

  <!--<table>
    <thead>
      <th *ngFor="let detalle of scrappingData?.dato?.headers">{{detalle.header}}</th>
    </thead>
    <thead>
      <th *ngFor="let detalle of fechasTable">{{detalle.texto}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of scrappingData?.dato?.headers">
        {{detalle.header}}
        <td *ngFor="let fila of scrappingData?.dato?.valoresColumna">{{fila.texto}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <ul>
      <span><h2>Valores Otros:</h2></span>
      <li *ngFor="let dato of scrappingData?.dato?.valoresOtros" style="margin-left: 35px">
          {{dato.header}}
      </li>
      <br>
    </ul>

    <ul>
      <span><h2>Headers:</h2></span>
      <li *ngFor="let dato of scrappingData?.dato?.headers" style="margin-left: 35px">
          {{dato.header}}
      </li>
      <br>
    </ul>

    <ul>
      <span><h2>Fila 1:</h2></span>
      <li *ngFor="let dato of scrappingData?.dato?.valoresColumna" style="margin-left: 35px">
          {{dato.texto}}
      </li>
      <br>
    </ul>

    <ul>
      <span><h2>Textos:</h2></span>
      <li *ngFor="let dato of scrappingData?.textos" style="margin-left: 35px">
          {{dato.texto}}
      </li>
      <br>
    </ul>
  </div>-->
</div>
