<div id="content">
  <div class="header" style="margin-bottom:100px">
    <h1>Weather UEX App</h1>
  </div>
  <mat-card class="example-card">
    <mat-card-title>Sensor 0</mat-card-title>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <span style="margin-left: 10px"><b>rx_state:</b> {{sensor0?.rx_state}}</span>
          <mat-spinner style="margin-left: 10px" [diameter]="25" *ngIf="sensor0.rx_state == undefined"></mat-spinner>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span style="margin-left: 10px"><b>wind_speed_hi_last_2_min:</b> {{sensor0?.wind_speed_hi_last_2_min}}</span>
          <mat-spinner style="margin-left: 10px" [diameter]="25" *ngIf="sensor0.wind_speed_hi_last_2_min == undefined"></mat-spinner>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span style="margin-left: 10px"><b>hum:</b> {{sensor0?.hum}}</span>
          <mat-spinner style="margin-left: 10px" [diameter]="25" *ngIf="sensor0.hum == undefined"></mat-spinner>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span style="margin-left: 10px"><b>wind_dir_at_hi_speed_last_10_min:</b> {{sensor0?.wind_dir_at_hi_speed_last_10_min}}</span>
          <mat-spinner style="margin-left: 10px" [diameter]="25" *ngIf="sensor0.wind_dir_at_hi_speed_last_10_min == undefined"></mat-spinner>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span style="margin-left: 10px"><b>wind_chill:</b> {{sensor0?.wind_chill}}</span>
          <mat-spinner style="margin-left: 10px" [diameter]="25" *ngIf="sensor0.wind_chill == undefined"></mat-spinner>
        </mat-list-item>
        <mat-list-item role="listitem">
          <span style="margin-left: 10px"><b>rain_rate_hi_last_15_min_clicks:</b> {{sensor0?.rain_rate_hi_last_15_min_clicks}}</span>
          <mat-spinner style="margin-left: 10px" [diameter]="25" *ngIf="sensor0.rain_rate_hi_last_15_min_clicks == undefined"></mat-spinner>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
