<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="companyName" routerLink="/">
    <span>Weather UEX App</span>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/sensors">Estaciones Meteorológicas</a>
    <a mat-button routerLink="/predicciones">Predicciones</a>
    <a mat-button routerLink="/fotometros">Fotómetros</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

