<mat-toolbar color="primary" *ngIf="!this.query4.matches && !this.query2.matches && !this.query9.matches && !this.query8.matches; else movilToolbar">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="companyName" routerLink="/">
    <span>Weather UEX App</span>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/sensors">Estaciones Meteorológicas</a>
    <a mat-button routerLink="/predicciones">Predicciones</a>
    <a mat-button routerLink="/fotometros">Fotómetros</a>
  </div>

</mat-toolbar>
<ng-template #movilToolbar>
  <div style="background: #3f51b5; width:100%; text-align: center;position: absolute;"><h3 style="color: #fff">Weather Uex App</h3>
    <button mat-raised-button routerLink="/predicciones" color="primary" style="margin-bottom:10px">Predicciones</button>
    <button mat-raised-button routerLink="/fotometros" color="primary" style="margin-bottom:10px">Fotómetros</button>
    <button mat-raised-button routerLink="/sensors" color="primary" style="margin-bottom:10px">E. Meteorológicas</button>
  </div>
</ng-template>

<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex">
  <!--Just the logo.. Don't mind this-->
  <router-outlet></router-outlet>
  </div>

  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->

  </div>
  <!--Content starts-->
  <div class="content flex-wave">
    <div>
      <p>
        <span style="font-size:14px">Desarrolladores:</span><br>
        José Javier Acosta Blasco<br>
        Adrian Bocho Roas
    </p>
    </div><br>
  </div>
