<div class="wrapper">
  <mat-form-field appearance="fill" style="margin-top: 120px; width:85%">
  <mat-label>Elije una estación</mat-label>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option value="zarza"     (click)="onChangeFotometro()">Zarza La Mayor</mat-option>
      <mat-option value="alcantara" (click)="onChangeFotometro()">Alcántara</mat-option>
      <mat-option value="brozas"   (click)="onChangeFotometro()">Brozas</mat-option>
      <mat-option value="herreruela"   (click)="onChangeFotometro()">Herreruela</mat-option>
      <mat-option value="salorino"   (click)="onChangeFotometro()">Salorino</mat-option>
      <mat-option value="membrio"   (click)="onChangeFotometro()">Membrío</mat-option>
      <mat-option value="valenciaA"   (click)="onChangeFotometro()">Valencia de Alcántara</mat-option>
      <mat-option value="carbajo"   (click)="onChangeFotometro()">Carbajo</mat-option>
      <mat-option value="santiagoA"   (click)="onChangeFotometro()">Santiago de Alcántara</mat-option>
      <mat-option value="herreraA"   (click)="onChangeFotometro()">Herrera de Alcántara</mat-option>
      <mat-option value="cedillo"   (click)="onChangeFotometro()">Cedillo</mat-option>
      <mat-option value="pampilhosa"   (click)="onChangeFotometro()">Pampilhosa Da Serra, Fajão</mat-option>
      <mat-option value="badajoz"   (click)="onChangeFotometro()">Escuela de Ingenierías Industriales, Badajoz</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div class="example-container mat-elevation-z8" *ngIf="disponible; else noDisponible">
      <mat-table mat-table [dataSource]="dataSource" *ngIf="fotometroSelected.length > 0; else noData">

        <!-- Position Column -->
        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"><b>Time</b></mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="time"> {{element?.time}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="battery">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"> <b>Battery</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="battery"> {{element?.battery}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="fail">
          <mat-header-cell *matHeaderCellDef   style="text-align: center; color: black;"> <b>Fail</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="fail"> {{element?.fail}} </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"> <b>Id</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="id"> {{element?.id }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mag">
          <mat-header-cell *matHeaderCellDef   style="text-align: center; color: black;"> <b>Mag</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="mag"> {{element?.mag>=10.5 ? element?.mag : 0}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="mag_err">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"> <b>Mag Err</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="mag_err"> {{element?.mag_err}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef   style="text-align: center; color: black;"> <b>Name</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="name"> {{element?.name}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="reset">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"> <b>Reset</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="reset"> {{element?.reset}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="signal">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"> <b>Signal</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="signal"> {{element?.signal}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tamb">
          <mat-header-cell *matHeaderCellDef sortActionDescription="Sort by Tamb" style="text-align: center; color: black;"> <b>Tamb</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="tamb"> {{element?.tamb}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tsky">
          <mat-header-cell *matHeaderCellDef  style="text-align: center; color: black;"> <b>Tsky</b> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="tsky"> {{element?.tsky}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <ng-template #noData style="text-align:center">
        <div class="example-card">
          <mat-spinner [diameter]="150" [ngStyle]="{'margin-left': '45%'}"></mat-spinner>
        </div>
      </ng-template>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
      </mat-paginator>
  </div>

<ng-template #noDisponible>
  <div class="mat-elevation-z8" style="width:90%; margin-left:5%; text-align: center;">
    <mat-card class="example-card">
    <p style="color: red">No disponible</p>
</mat-card>
  </div>
</ng-template>

<mat-card class="example-card" style="margin-top: 100px; visibility: hidden"></mat-card>
